<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website with Header and Navigation Bar</title>
    <link rel="stylesheet" href="/styles/homestyle.css"> 
 <link rel="stylesheet" href="/styles/first.css">
</head>
<body>

    <!-- Header -->
    <header>
        <div class="text">CYR SEA FOODS</div>
    </header>

    <!-- Navigation Bar -->
    <nav>
        <ul class="nav-links">
            <li><a href="/ehomePage">Home</a></li>
            <li><a href="#about">Harvest</a></li>
            <li><a href="#services">Plant Processing</a></li>
            <li><a href="#contact">Sales</a></li>
            
          
            
            <li><a href="#contact">Finance & Payments</a></li>
            <li><a href="#contact">Reports</a></li>
 	 <li class="dropdown">
                <a href="#" class="dropbtn">Profile</a>
                <div class="dropdown-content">
                    <a href="/eview">View</a> 
                    <a href="/preq">change Password</a>  
                </div>
            </li>
<li><a href="/ecreate">create</a> </li>
        </ul>
    </nav>

    <footer>
        <p>&copy; 2024 CYR Sea Foods</p>
    </footer>

</body>
</html>
