<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Correct the path for intro.css -->
    <link rel="stylesheet" href="/styles/intro.css">
    <!-- Correct the path for intro.js -->
    <script src="/js/intro.js"></script>
</head>
<body>
    
    <div class="container" id="pg">
        <!-- Update the links for admin and employee login -->
        <a href="/admin_login"><button>Admin Login</button></a>
        <a href="/employee_login"><button>Employee Login</button></a>
    </div>
    
</body>
</html>
